.dsl-board button {
  width: auto;
  min-width: 20%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--dsl-accent);
  color: var(--dsl-primary);
  align-self: center;
}

.dsl-board button:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.dsl-board button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dsl-board input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dsl-primary);
}

.dsl-board input:focus {
  outline: none;
}

.dsl-board input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}